@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @inject UserManager<ApplicationUser> UserManager
    @{
        var userId = UserManager.GetUserId(User);
    }

    <a class="btn btn-outline-info mb-3" href="/Profiles/View/@userId">View My Public Profile</a>

</div>
